<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh Toán Thành Công</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

<header>
    <div class="navbar">
        <div class="logo">Logo</div>
        <nav>
            <ul>
                <li><a href="Giaodienchuadangnhap.html">Home</a></li>
                <li><a href="comingsoon.html">Sắp Chiếu</a></li>
                <li class="dropdown">
                    <a class="dropdown-link" href="#">Thể Loại</a>
                    <ul id="dropdown-content">
                        <li><a href="action.html">Hành Động</a></li>
                        <li><a href="psychology.html">Tâm Lý</a></li>
                    </ul>
                </li>
                <li><a href="myticket.html">Vé Của Tôi</a></li>
                <li><a href="accountinfo.html"">Thông Tin Cá Nhân</a></li>
            </ul>
        </nav>
        <div class=" auth-links">
            <span>Đức Trường | </span>
            <a href="#">Đăng Xuất</a>
            <div class="lang"><img src="icon-lang.png" alt="Ngôn ngữ"></div>
            <! </div>
    </div>
</header>

<div class="success-container">
    <h1>Thanh Toán Thành Công</h1>
    <img src="ticket-success-icon.jpg" alt="Icon thành công">
    <! <div class="confirm">
    <button onclick="window.location.href='myticket.html'" class="btn-primary">Xem Thông Tin Vé</button>
</div>
</div>

</body>

</html>