<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vé của Tôi</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

<header>
  <div class="navbar">
    <div class="logo">LOGO</div>
    <nav>
      <ul>
        <li><a href="Giaodienchuadangnhap.html">Home</a></li>
        <li><a href="comingsoon.html">Sắp Chiếu</a></li>
        <li class="dropdown">
          <a class="dropdown-link" href="#">Thể Loại</a>
          <ul id="dropdown-content">
            <li><a href="horror.html">Hành Động</a></li>
            <li><a href="psychology.html">Tâm Lý</a></li>
          </ul>
        </li>
        <li><a href="myticket.html">Vé Của Tôi</a></li>
        <li><a href="accountinfo.html">Thông Tin Cá Nhân</a></li>
      </ul>
    </nav>
    <div class="auth-links">
      <a href="#">Đức Trưởng</a>
      <a href="login.html">Đăng XUất</a>
      <div class="lang">
        <img src="vi.png" alt="Tiếng Việt">
      </div>
    </div>
  </div>
  </header>

  <body>

  <div class="ticket-container">
    <div class="breadcrumb">

    </div>

    <div class="ticket-item">
      <img src="Haimuoifont.jpg" alt="haimuoi" class="ticket-poster">
      <div class="ticket-info">
        <h3 class="movie-title">Hai Muối</h3>
        <p class="movie-details">G4, 16 Desember 2021, 14:40</p>
        <p class="movie-details">Giá: 200.000đ</p>
        </p>
      </div>
    </div>

  </div>


  </body>

</html>